<div class="main">
  <div class="header">
    <p>Anomaly AIO</p>
    <img style="width: 75px;" [src]="'https://c.tenor.com/jjkJrU3wy3kAAAAj/anime-small.gif'" alt="icon"/> 
  </div>
  <div class="main-sections">
      <div class="setup-container">
        <app-setup></app-setup>
      </div>
      <div class="sessions-container">
        <app-sessions></app-sessions>
      </div>
      <div class="checkouts-container">
        <app-checkouts></app-checkouts>
      </div>
    </div> 
</div>